@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

.content {
    padding: 1rem;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 2rem 1rem;
    border-radius: 1rem;
    background-color: #49D0B0;
}

.pokemon .number {
    color: black;
    opacity: 0.3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    color: white;
    margin-bottom: 0;
}

.pokemon .detail {
    display: flex;
    align-items: center;
    justify-content: space-between;     
}

.pokemon .detail .types .type {
    background-color: #61E1CA;
    color: white;
    padding: .25rem .5rem;
    margin: .25rem 0;
    border-radius: 1rem;
    font-size: .625rem;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}




