@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./pokedex.css');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background-color: #f6f6f6;
}

h1 {
    text-align: center;
    color: rgb(210, 21, 21);
}

.content {
    padding: 1rem;
    background-color: #fff;
    height: 100vh;
    width: 100vw;
}

.button-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.2rem;
    border-radius: 1rem;
}

.button-more #loadMoreButton {
    background-color: black;
    border-radius: .3rem;
    color: white;
    font-size: 1.2rem;
}

.button-more #loadMoreButton:hover {
    color: var(--fire);
    transition: all .3s;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}