@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./pokedex.css');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background-color: #f6f6f6;
}

.content {
    padding: 1rem;
    background-color: #fff;
    height: 100vh;
    width: 100vw;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}