/* Variables */

:root {
    --normal: #a6a877;
    --grass: #77c850;
    --fire: #ee7f30;
    --water: #678fee;
    --eletric: #f7cf2e;
    --ice: #98d5d7;
    --ground: #dfbf69;
    --flying: #a98ff0;
    --poison: #a040a0;
    --figthing: #bf3029;
    --psychic: #f65687;
    --dark: #725847;
    --rock: #b8a137;
    --bug: #a8b720;
    --ghost: #6e5896;
    --steel: #b9b7cf;
    --dragon: #6f38f6;
    --fairy: #f9aec7;
}

/* Background  of Types */

.normal {
    background-color:var(--normal) ;
}

.grass {
    background-color:var(--grass) ;
}

.fire {
    background-color:var(--fire) ;
}

.water {
    background-color:var(--water) ;
}

.eletri {
    background-color:var(--eletric) ;
}

.ice {
    background-color:var(--ice) ;
}

.ground {
    background-color:var(--ground) ;
}

.flying {
    background-color:var(--flying) ;
}

.poison {
    background-color:var(--poison) ;
}

.figthig {
    background-color:var(--figthing) ;
}

.psychi {
    background-color:var(--psychic) ;
}

.dark {
    background-color:var(--dark) ;
}

.rock {
    background-color:var(--rock) ;
}

.bug{
    background-color:var(--bug) ;
}

.steel {
    background-color:var(--steel) ;
}

.dragon {
    background-color:var(--dragon) ;
}

.fairy {
    background-color:var(--fairy) ;
}

.ghost {
    background-color: var(--ghost);
} 

.dark {
    background-color: var(--dark);
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 2rem 1rem;
    border-radius: 1rem;
}

.pokemon .number {
    color: black;
    opacity: 0.3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: white;
    margin-bottom: 0;
}

.pokemon .detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types .type {
    color: white;
    padding: .25rem .5rem;
    margin: .25rem 0;
    border-radius: 1rem;
    font-size: .625rem;
    filter: brightness(1.1);
    text-align: center;
    
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

/* Responsividade */

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}